.List {
  display: flex;
  margin-top: 25px;
  overflow-y: scroll;
}

.Players.List {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding-top: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &::-webkit-scrollbar {
    display: none;
  }
}
